.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    position: relative;
}

.permanent-text {
    font-size: 2rem;
    /* Adjust font size as needed */
    margin-bottom: 20px;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: #00f;
    /* Blue ball color */
    border-radius: 50%;
    position: absolute;
    top: 0;
    animation: bounce 2s infinite alternate;
}

@keyframes bounce {
    0% {
        top: 0;
    }

    100% {
        top: 100px;
    }
}

.changing-text {
    font-size: 1.5rem;
    /* Adjust font size as needed */
}